.footer {
  max-width: 1920px;
  margin: 0 auto;
  background-image: url("../../shared/assets/images/footerBackground.svg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  &__container {
    padding-top: 174px;
    max-width: 1680px;
    margin: 0 auto;
  }
}
