@use "@shared/assets/fonts/_variables.scss" as variables;
Button {
  Cursor: pointer;
  border: none;
  &:disabled {
    background-color: variables.$gray-color;
    color: #828B8D;
  }
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.5;
  }
}

.black {
  background-color: #000;
  color: #fff;
}
.small {
  min-width: 408px;
  min-height: 50px;
}
.large {
  min-width: 408px;
  min-height: 70px;
}
.extraSmall {
  min-width: 75px;
  min-height: 50px;
}
.red {
  background-color: #EB5757;
  color: #fff;
}
.blackBorder {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
.redBorder {
  background-color: #fff;
  color: #EB5757;
  border: 1px solid #EB5757;
}
.loyaltyProgram {
  min-width:292px;
  min-height: 50px;
  background-color: variables.$white-color;
  color: variables.$black-color;
}
