@use "../../../shared/assets/fonts/_mixins.scss" as mixins;
@use "../../../shared/assets/fonts/_variables.scss" as variables;
.footerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logoWrapper {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &__mobileSubscribe {
      display: none;
    }
    &__subscribe {
        display: flex;
        width: 667px;
        border: 1px solid rgba(255, 255, 255, 0.200);
    }
    &__subscribeLabel {
        display: flex;
        align-items: center;
        flex-grow: 1;
        @include mixins.body-1-16-medium-style();
        width: 401px;
        height: 50px;
        background-color: variables.$black-color;
        padding: 0 16px;
        box-sizing: border-box;
        gap: 12px;
        cursor: pointer;
        user-select: none;
    }
    &__subscribeInput {
        width: 100%;
        max-height: 100%;
        border:none;
        color: variables.$white-color;
        outline: none;
        background-color: transparent;
        &:focus {
            border:none;
            outline: none;
            background-color: transparent;
        }
    }
    &__subscribeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: transparent;
        }
        &:active {
            background-color: transparent;
        }
        &:focus {
            background-color: transparent;
        }
        &:disabled {
            background-color: transparent;
        }
    }
    &__subscribeDiscount {
        color: variables.$red-color;
    }
}

@media (max-width: 414px) {
    .footerHeader {
        &__mobileSubscribe {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 0px 20px 0px 20px;
            margin-bottom: 100px;
        }
        &__subscribe {
            display: none;
        }
        &__logoWrapper {
            display: none;
        }
        &__mobileSubscribeBottom {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
        &__mobileSubscribeBottomItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
        &__mobileSubscribeTitle {
            @include mixins.body-1-16-medium-style;
            color: variables.$white-color;
            text-align: center;
        }
        &__mobileSubscribeSocial {
            @include mixins.H1-style;
            color: variables.$white-color;
            text-align: center;
            gap: 10px;
        }
        &__mobileSubscribeTopSocial {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
        &__mobileSubscribeTop {
            display: flex;
            gap:15px;
            flex-direction: column;
            margin-bottom: 50px;
        }
    }
}