Input {
  background-color: #fff;
  border: 1px solid #ced4d7;
  padding: 12px 0px 12px 20px;
  &:focus {
    border: 1px solid #000;
    outline: none;
  }
}
.inputButtonContainer {
  display: flex;
  align-items: center;
  
}
.inputContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
}
.labelContainer {
  display: flex;
  align-items: center;
}
.description {
  font-size: 12px;
  color: #828b8d;
}
