@use "../../../shared/assets/fonts/_mixins.scss" as mixins;
@use "../../../shared/assets/fonts/_variables.scss" as variables;

.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        max-width: 320px;
        max-height: 370px;;
        align-items: flex-start;
    }
    &__brand {
        @include mixins.h3-capital16-medium-style;
    }
}