@use "../../../shared/assets/fonts/_mixins.scss" as mixins;
@use "../../../shared/assets/fonts/_variables.scss" as variables;

.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    img {
        max-width: 320px;
        max-height: 370px;
    }
    &__image {
        position: relative;
        padding: 50px 25px;
    }
    &__button {
        background-color: transparent;
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        cursor: pointer;
    }
    &__text {
        display: flex;
        flex-direction: column;
        max-width: 320px;
        max-height: 81px;
        margin-top: 10px;
        gap: 5px;
        align-items: flex-start;
    }
    &__brand {
        @include mixins.h3-capital16-medium-style();
    }
    &__description {
        @include mixins.body-2-14-medium-style();
        color: variables.$dark-gray-color;
        margin-bottom: 5px;
    }
    &__price {
        @include mixins.caption-capital8-medium-style();
    }
}