@use "@shared/assets/fonts/_mixins.scss" as mixins;
@use "@shared/assets/fonts/_variables.scss" as variables;

Button {
  @include mixins.body-1-16-medium-style;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.5;
  }
}


.loyaltyProgram {
  display: flex;
  justify-content: center;
  gap: 25px;
  &Image {
    max-width: 668px;
    position: relative;
  }
  &InputContainer {
    display: flex;
    align-items: center;
    height: 48px;
  }
  &Input {
    min-width: 401px;
    border: none;
    &:focus {
      border: none;
      outline: none;
    }
    &Button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: variables.$white-color;
      height: 100%;
      min-width: 50px;
      &:hover {
        opacity: 1;
      }
    }
  }
  &Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    gap: 25px;
    &Title {
      @include mixins.H1-style;
      color: variables.$white-color;
    }
    &Description {
      @include mixins.body-1-16-medium-style;
      color: variables.$white-color;
    }
  }
}
