@use "../../../shared/assets/fonts/_mixins.scss" as mixins;
@use "../../../shared/assets/fonts/_variables.scss" as variables;

.footerMiddle {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.200);
    border-bottom: 1px solid rgba(255, 255, 255, 0.200);
    margin-top: 30px;
    padding: 40px 0;
    &__mainItemTitle {
        @include mixins.caption-capital8-medium-style;
        color: variables.$white-color;
      }
    &__mainItem {
        display: flex;
        flex-direction: column;
        margin-top: -6px;
        gap: 31px;
    }
    &__mainItemApps {
        display: flex;
        align-items: center;
        gap: 29px;
      }
    &__mainItemAppsLinks {
        display: flex;
        flex-direction: column;
        align-items: center;;
        gap: 15px;
      }
    &__Item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 17px;
    }
    &__ItemTitle {
        @include mixins.caption-capital8-medium-style;
        color: variables.$white-color;
    }
    &__ItemList {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 17px;
        padding: 0;
    }
    &__ItemListLink {
        @include mixins.caption-medium12-style;
        color: variables.$gray-1-color;
        text-decoration: none;
        list-style: none;
    }
    &__mainItemContacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }
    &__mainItemContactsInfo {
        display: flex;
        align-items: center;
        gap: 25px;
    }
    &__mainItemContactsTitle {
        @include mixins.caption-capital8-medium-style;
        color: variables.$white-color;
        margin-bottom: 32px;
    }
    &__mainItemContactsInfoText {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 168px;
        gap: 5px;
    }
    &__mainItemContactsInfoTextNumber {
        @include mixins.caption-capital8-medium-style;
        color: variables.$white-color;
        cursor: pointer;
        text-decoration: none;
    }
    &__mainItemContactsInfoTextDescription {
        @include mixins.caption-medium12-style;
        color: variables.$gray-1-color;
        text-align: left;
    }
    &__mainItemContactsInfoTextTitle {
        @include mixins.caption-capital8-medium-style;
        color: variables.$white-color;
        text-align: left;
    }
    &__mainItemContactsInfoTextDescription {
        @include mixins.caption-medium12-style;
        color: variables.$gray-1-color;
        text-align: left;
        cursor: pointer;
        text-decoration: none;
    }
}

@media (max-width: 414px) {
    .footerMiddle {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0px 0px 0px 20px;
        border: none;
        &__mainItem {
            display: none;
        }
        &__mainItemContactsTitle {
            display: none;
        }
        &__mainItemContacts {
            border-bottom: 1px solid rgba(255, 255, 255, 0.200);
            padding-bottom: 16px;
            margin-bottom: 21px;
        }
        &__mainItemContactsInfoTextNumber {
            @include mixins.caption-capital8-medium-style;
            color: variables.$white-color;
        }
        &__mainItemContactsInfoTextDescription {
            @include mixins.caption-medium12-style;
            color: variables.$gray-1-color;
            text-align: left;
        }
        &__mainItemContactsInfoTextTitle {
            @include mixins.caption-capital8-medium-style;
            color: variables.$white-color;
            text-align: left;
        }
        &__mainItemContactsInfoTextDescription {
            @include mixins.caption-medium12-style;
            color: variables.$gray-1-color;
            text-align: left;
        }
    }
}
