@use "@shared/assets/fonts/_variables.scss" as variables;
@use "@shared/assets/fonts/_mixins.scss" as mixins;

.homePage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.slider {
  max-width: 1920px;
  margin: 0 auto;
  &Container {
    margin-bottom: 50px;
  }
}
.brandsSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 50px;
  &Item {
    display: flex;
    opacity: 0.75;
    align-items: center;
    justify-content: center;
    gap: 80px;
  }
}
.promoSlider{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  &Item {
    &Title {
      background-color: variables.$black-color;
      padding: 15px 35px;
      @include mixins.subtitle-1-21-medium-style;
      color: variables.$white-color;
    }
  }
}