.home-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    &-title {
        font-size: 24px;
        font-weight: bold;
        color: #e9e7e7;
    }
}
.input__container-promoCard {
    display: flex;
    align-items: center;
}
.button__container-promoCard {
    display: flex;
    align-items: center;
}
.input__container-phoneNumber {
    display: flex;
    align-items: center;
}
.phoneNumberLabel {
    color: #828B8D;
}