@use "@shared/assets/fonts/_variables.scss" as variables;
@use "@shared/assets/fonts/_mixins.scss" as mixins;

.slider {
  margin-bottom: 100px;
  &Container {
    margin-bottom: 50px;
  }
}
.blog {
  display: flex;
  flex-direction: column;
  gap:50px;
  margin-bottom: 25px;
}
.dcPromo {
  max-width: 1680px;
  margin: 0 auto;
  margin-bottom: 100px;
  position: relative;
  &ItemWrapper {
    margin-bottom: 75px;
  }
  &Slider {
    margin-bottom: 75px;
  }
  &SliderTitle {
    @include mixins.H1-style;
    color: variables.$black-color;
  }
  &Logo {
    left: 36px;
    top: 36px;
    position: absolute;
  }
  &ItemWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:25px;
  }
  &ItemContent {
    max-width: 668px;
  }
  &ItemTitle {
    @include mixins.subtitle-1-21-medium-style;
    color: variables.$black-color;
  }
  &ItemDescription {
    @include mixins.body-2-14-medium-style;
    color: variables.$dark-gray-color;
  }
}

.products{
  margin-bottom: 100px;
  &TitleWrapper {
    margin-bottom: 50px;
  }
  &TitleText {
    @include mixins.H1-style;
  }
  &Slider {
    margin-bottom: 75px;
  }
  &Button {
    &:disabled {
      background-color: variables.$gray-color;
      color: variables.$dark-gray-color;
    }
    &:hover {
      background-color: variables.$dark-gray-color;
    }
    &:active {
      background-color: variables.$gray-color;
    }
  }
}
