@use "@shared/assets/fonts/_variables.scss" as variables;

.homePage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  &-title {
    font-size: 24px;
    font-weight: bold;
    color: #e9e7e7;
  }
}

.inputContainer {
  display: flex;
  gap: 50px;
  flex-direction: column;
}
.labelContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.defaultInput {
  min-width: 408px;
  min-height: 50px;
}
.promoCardInput {
  min-width: 370px;
  min-height: 50px;
}
.phoneNumberLabel {
  color: #828b8d;
}
.applyButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 75px;
  height: 50px;
}
