.home-page {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    &-title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }
}